.pubs {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  padding:2px;
  margin-top:0px;
}

.articles {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: top;
  background-color: $white;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-even;
  align-items: space-even;
 }


.pubbuttons {
  display: flex;            /* new */
  align-items: flex-start;      /* new */
  justify-content: flex-start; /* new */
  padding-top: 5px;
  padding-bottom: 1px;
}

.pubyear {
width:auto;
font-weight: 600;
}
