.tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding:2px;
  margin-top:10px;
}

.tag {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-self: top;
  background-color: $white; //lighten($grey-light,16%);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 }


@media (max-width: 600px) {
  .tags {
    display: flex;
    flex-direction: column;
  }
  .tag {
    margin-bottom: 10px;
  }
}
