{% for post in site.posts  %}
{% capture this_year %}
{% if post.bdate %}
{{ post.bdate | date: "%Y" }}
{% else %}
{{ post.date | date: "%Y" }}
{% endif %}
{% endcapture %}

{% capture next_year %}
{% if post.previous.bdate %}
{{ post.previous.bdate | date: "%Y" }}
{% else %}
{{ post.previous.date | date: "%Y" }}
{% endif %}
{% endcapture %}


{% if forloop.first %}
<h3 id="{{ this_year }}-ref">{{this_year}}</h3>
<ul>
{% endif %}

<div>
<span class="date day">
{% if post.bdate %}
{{ post.bdate | date: "%a %d %b" }}
{% else %}
{{ post.date | date: "%a %d %b" }}
{% endif %}
</span>

<a href="{{ post.url }}">{{ post.title }}</a>
</div>

{% if forloop.last %}
</ul>
{% else %}
{% if this_year != next_year %}
</ul>
<h3 id="{{ next_year }}-ref">{{next_year}}</h3>
<ul>
{% endif %}
{% endif %}
{% endfor %}
