{% assign year = 1980 %}
{% assign j = site.data.pubs.publications.size %}

{% for pub in site.data.pubs.publications %}
{% if pub.year == year %}
{% else %}
{% assign year = pub.year %}
{% endif %}
{% assign uniqetopics = "" %}
{% assign uniqetopics = pub.topics | split: ', ' | sort_natural | uniq %}

{% assign imgs = "" %}
{% assign imgs = pub.img | split: ', ' | sort_natural | uniq %}

{% assign auth = pub.author %}

<div class="pubs">

   <div class="articles">

		{% if pub.pdf %}
			<a display:inline href="{{site.baseurl}}/files/{{pub.pdf}}" style="text-transform:capitalize;font-size:100%">
			<span class="pubyear">
			{{pub.title}} ({{pub.year}})
			</span>
			</a>
		{% else %}
			<span class="pubyear">{{pub.title}} ({{pub.year}})</span>
		{% endif %}

		<span style="font-size:95%">{{pub.author}}</span>

		{% if pub.type == "article" %}
			<span style="font-size:95%"><em>{{pub.journal}}</em><br></span>
		{% elsif pub.type == "inproceeding" or pub.type == "incollection" %}
			<span style="font-size:95%">in <em>{{pub.booktitle}}</em><br></span>
			<span style="font-size:95%">eds. {{pub.editor}}</span>
		{% endif %}

<div class="pubbuttons">

			{% if pub.pdf %}
			<div id="newsbtn">
				<a href="https://harshasbhat.github.io/files/{{pub.pdf}}" style="font-size:100%">PDF</a>
			</div>
			{% endif %}

			{% if pub.doi %}
			<div id="newsbtn">
				<a href="https://doi.org/{{pub.doi}}" style="font-size:100%">DOI</a>
			</div>
			{% endif %}

			{% if pub.arxiv %}
			<div id="newsbtn">
				<a href="https://arxiv.org/pdf/{{pub.arxiv}}.pdf" style="font-size:100%">arXiv</a>
			</div>
			{% endif %}

			{% if pub.readmore %}
				<div id="newsbtn">
					<a href="{{ base }}/{{pub.readmore}}" style="font-size:100%">READ MORE ...</a>
				</div>
			{% endif %}
			</div>    	

</div>
{% assign j = j | minus:1 %}
{% endfor %}
