<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{ site.baseurl }}/images/site/erc.jpg" alt="avatar" style="border-radius: 50%; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">

  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">
    <span aria-hidden="true">Home</span>
    </a>

{% for menu_item in site.data.menu %}
{%- if include.icon -%}<svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use></svg>{%- endif -%}

 		 <a class="sidebar-nav-item" href="{{ menu_item.href  | absolute_url }}">{{ menu_item.title }}︎</a>
{% endfor %}

        <div class="sidebar-nav-item">
        <a  href="https://github.com/{{ site.author.github }}" ><i class="fa fa-github fa-1x"></i></a>
        <a  href="https://twitter.com/{{ site.author.twitter }}" ><i class="fa fa-twitter fa-1x"></i></a>
        </div>

  </nav>

</div>
